
<div class="container"></div>
    <div class="card">
  <div class="card-header">
    Title placeholder
  </div>
  <div class="card-body">
     <div class="mb-3">
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">blog details......................
          dfgdgfdgdf
          dfgdgdfgfd
          dgdfgdfgd
          dfg
      </textarea>
     </div>
</div>


<div class="container"></div>
    <div class="card">
  <div class="card-header">
    
  </div>
  <div class="card-body">
                     <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Comment</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
    <a href="#" class="btn btn-primary">Submit</a>
  </div>
</div>
</div>