<!-- Loop over each object in the projects array -->



<form method="get" action="/addpost">
<div class="d-grid gap-2">
    <button class="btn btn-primary" type="submit">+New Post</button>
</div>
</form>

