<form class="login-form">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"></div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>


    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>




<div class="row">
    <div class="col">
        <hr>
    </div>
    <div class="col-auto">OR</div>
    <div class="col">
        <hr>
    </div>
</div>

<form method="get" action="/signup">
<div class="d-grid gap-2">
    <button class="btn btn-primary" type="submit">SignUp</button>
</div>
</form>

<script src="./js/login.js"></script>