<div class="container mb-4 w-50 bg-light border border-success rounded-3">
    <br>
    <form class="login-form form-outline mb-4">
        <div class="form-outline mb-4">
            <label for="exampleInputEmail1" class="form-label ">Email address</label>
            <input type="email" class="form-control border border-success" id="EmailInput" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text"></div>
        </div>
        <div class="form-outline mb-4">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control border border-success" id="passwordInput">
        </div>



        <div class="row">
            <div class="col">
                <div class="text-center">
                    <button type="submit" class="btn btn-primary text-center w-25" id="loginBtn">Login</button>
                </div>

            </div>


        </div>


    </form>
    <div class="row">
        <div class="col">

            <form method="get" action="/signup">
                <div class="text-center">
                    <button class="btn btn-primary text-center w-25" type="submit" id="submitBtn">SignUp</button>
                </div>

            </form>
            <br>
        </div>

    </div>









</div>

<script src="./scripts/login.js"></script>