<!-- Loop over each object in the projects array -->

<div class="container"></div>
    <div class="card">
  <div class="card-header">
    <nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Title place holder</a>
    <a class="navbar-brand">Posted ... by on ...</a>
  </div>
</nav>
  </div>
  <div class="card-body">
     <div class="mb-3">
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" disabled readonly>summary test conntent
          hrllo
          jfgjf
      </textarea>
      </textarea>
     </div>
</div>